useDynLib(proteoformR, .registration=TRUE)

# Exports
exportPattern("^[^\\.]")

# R essentials
importFrom(Rcpp, evalCpp)
importFrom(foreach,
           foreach,
           "%do%",
           "%dopar%")

# tidy
importFrom(dplyr, 
           "%>%",
           select,
           group_by,
           summarise,
           mutate,
           arrange,
           filter)
importFrom(tidyr,
           spread,
           gather)

# plotting
import(ggplot2)